body {
    background-color:burlywood;

}

div.top{
    margin-left:190px;
    margin-right:190px;
    border:4px dotted;
    border-color:black;
    text-align:center;
    background-color: #f5f5dc;
    font-weight:bold;
    font-family:Tunga;
    font-style:italic;
}

div.body{
  
    margin-left:190px;
    margin-right:190px;
    border:4px dotted;
    border-color: black;
    height:inherit;
    background-color: #f5f5dc;
    text-align:center;
    font-family: 'Indie Flower', cursive;

}


ul{
    width: 100%;
    height: auto;
    text-align:center;
    list-style-type: none;
       
}

li{
    font-family:'Comic Sans MS';
    font-style:italic;

}

li::first-letter{
    font-weight:bold;
    font-size: 20px;

}



